/* Write your CSS code here */
.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.head-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.logo-image {
  height: 30px;
  width: 30px;
}
.list-container {
  list-style-type: none;
  display: flex;
  margin-left: -40px;
}

li {
  list-style-type: none;
  text-decoration: none;
  margin: 10px;
  color: white;
  font-family: 'Roboto';
  cursor: pointer;
}
